[submodule "Hazel/Hazel/Vendor/spdlog"]
	path = Hazel/Hazel/Vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Hazel/Hazel/vendor/glm"]
	path = Hazel/Hazel/vendor/glm
	url = https://github.com/g-truc/glm
